*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    min-height: 50vh;
}

input {
    padding: 8px;
}
.comp-btns{
    margin-top: 15px;
    border-top: 1px solid #9f9f9f;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}
.comp-btn{
    padding: 8px 16px;
    background-color: #62AE81;
    color: white;
    border-radius: 30px;
}
textarea {
    padding: 8px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: inherit;
}

ul {
    padding: 0;
    list-style-type: none;
}

.h2-title {
    display: block;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
}

.mb60 {
    margin-bottom: 60px;
}
.mt150{
    margin-top: 150px;
}
.mt60 {
    margin-top: 60px;
}

.mt90 {
    margin-top: 90px;
}

.header {
    padding: 30px 16px;
    border-bottom: 1px solid #dddddd;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 32px;
    font-weight: 700;
}

.header-nav {
    font-size: 16px;
    display: flex;
    gap: 20px;
    font-weight: 500;
}

.button {

    padding: 10px 36px;
    background-color: #62AE81;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    text-align: center;
    border: none;

}

.burger-block {
    position: relative;

}

.burger-menu {
    width: 260px;
    position: absolute;
    background-color: #62AE81;
    right: 16px;
    padding: 16px 36px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    display: none;
    z-index: 40;
}

.burger-menu.active {
    display: block;
}

.burger-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.burger-buttons {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.burger-block {
    display: none;
}

.burger {
    font-size: 26px;
}

/* Баннер */

.banner {
    position: relative;
    max-width: 100%;
    height: 750px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.banner-content h1 {
    font-size: 48px;
}

.banner-content p {
    font-size: 24px;
}

/* Инфографика */

.infograph {
    margin-top: 90px;
    padding: 0px 16px;
}

.infograph .wrapper {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    gap: 96px;
    flex-wrap: wrap;
    justify-content: center;

}

.graph-item {
    max-width: 248px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.graph-item .circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #ACCFB4;
    display: flex;
    align-items: center;
    justify-content: center;

}
.graph-item .circle img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.graph-item h3 {
    font-size: 20px;
    margin-top: 16px;
}

.graph-item span {
    font-size: 16px;
    margin-top: 10px;
}

/* Отзывы */

.feedback {
    margin-top: 90px;
    padding: 60px 16px;

    background-color: #eeeeee;
}

.feedback h1 {
    text-align: center;
    margin-bottom: 60px;
}

.feedback .wrapper {
    margin: 0 auto;

    height: 100%;
    margin: 0;
    padding: 0;
}

.swiper {
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    background-position: center;
    background-size: cover;
    max-width: 600px !important;
    min-height: 340px !important;
    background-color: white;
    border-radius: 20px;
    padding: 20px 24px;

}

.swiper-pagination {
    bottom: 20px;
}

.feed-title {
    font-size: 20px;
    font-weight: 500;
}

.feed-price {
    margin-top: 14px;
    font-size: 16px;
}

.feed-content {
    margin-top: 10px;
    font-size: 16px;
}

.feed-date {
    margin-top: 10px;
    font-size: 16px;
}

.feed-user {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.feed-image {
    height: 80px;
    width: 80px;
}

.feed-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.feed-user__info {
    display: flex;
    flex-direction: column;
}

.rate-main {
    margin-top: 5px;
}



/* Как это работает */

.howItWorks {
    margin-top: 90px;
}

.howItWorks .wrapper {
    position: relative;
}

.howItWorks h2 {
    text-align: center;
    margin-bottom: 60px;
}

.how-image {
    max-width: 1920px;
    height: 650px;
}

.how-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.how-content {


    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: white;


    max-width: 1280px;

    display: flex;
    gap: 250px;

}

.content-title {
    display: block;
    font-size: 32px;
    text-align: center;
    margin-bottom: 36px;
}

.how-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.how-item {
    display: flex;
    align-items: center;
}

.how-circle {
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 20;
}

.inner-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #62AE81;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
}

.innerText {
    height: 50px;
    width: 460px;
    background-color: #ACCFB4;
    margin-left: -14px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
}

.usefull-article .wrapper {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 16px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
}

.article-image {
    max-width: 400px;
    height: 260px;

}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.other-button {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 300px;
    height: 50px;
    background-color: #62AE81;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

footer {
    margin-top: 250px;
    background-color: #313131;
    height: 220px;
    color: white;
    padding: 0 50px;
    display: flex;
    align-items: center;


}
.footer-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.footer-nav{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}
.footer-icons{
    display: flex;
    gap: 16px;
}
.footer-logo{
    font-size: 32px;
    font-weight: 700;
}

/* Страница частых вопросов */

.freqQuestions {
    margin-top: 90px;
}

.freqQuestions .wrapper {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 16px;
}

.question-container {
    display: flex;
    justify-content: space-between;
}

.question-container.active {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.question-container .arrow {
    font-size: 20px;
}

.question {
    max-width: 1000px;
    padding: 16px 50px 16px 50px;
    border-radius: 10px;

    background-color: #A3D7B8;
    color: white;

    display: flex;
    flex-direction: column;
}

.question-title {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.question-content {
    margin-top: 20px;
    display: none;
    font-size: 16px;
    padding-bottom: 40px;
}

.question-content.active {
    display: flex;
}




/* SINGLE PAGE */

.single {
    margin-top: 90px;
}

.single .wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 16px;
}

.single .wrapper h2 {
    text-align: left;
}

.time-category {
    margin-top: 30px;

    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.time-category__item {
    font-size: 16px;

    color: #9f9f9f;
    padding-right: 16px;
    border-right: 1px solid #9f9f9f;
}

.single-content {
    max-width: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 0;

    border-top: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f;

    display: flex;
    gap: 50px
}

.single-image {
    width: 280px;

    height: 200px;
}

.single-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-text {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.single-text div {
    display: flex;
    gap: 20px;
}

.single-text span {
    font-size: 14px;
}

.single-author {
    margin-top: 30px;
    padding-bottom: 30px;

    border-bottom: 1px solid #9f9f9f;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.author-text {
    font-size: 16px;
}

.author-image__name {
    display: flex;
    gap: 30px;
}

.author-image {
    width: 100px;
    height: 100px;
}

.author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.author-name__rate {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.author-name {
    font-size: 18px;
    font-weight: 500;
}

.author-rate {
    font-size: 16px;
}

.single-button {


    width: 250px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: #62AE81;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;

    align-self: center
}

.single-btns {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;


}

.red-btn {
    background-color: #BD3939;
}

.single-contacts {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #9f9f9f;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Мои заявки */

.myOrders {
    margin-top: 90px;
}

.myOrders .wrapper {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.orders-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectRole {
    display: flex;
    flex-direction: row;
    gap: 24px;

    margin-bottom: 60px;
}

.roleButton {
    width: 180px;
    height: 40px;
    border-radius: 30px;
    background-color: #62AE81;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
}

.roleButton.active {
    box-shadow: inset 0 0 33px rgba(0, 0, 0, 0.53);
}

.order {
    width: 100%;
    max-width: 800px !important;
    padding: 20px 30px;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
}

.order-line {
    width: 100%;
    height: 1px;
    background-color: #9f9f9f;
    margin-top: 16px;
    margin-bottom: 16px;
}

.order .title-price {
    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 600;
}

.order-price {
    width: 80px;
    margin-left: 10px;
}

.order-address {
    margin-top: 30px;
}

.order-down {
    display: flex;
    justify-content: space-between;
}

.order-author {
    display: flex;
    gap: 16px;
}

.order-author__image {
    width: 50px;
    height: 50px;

}

.order-author__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
}

.order-author__name_price {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-author__name {
    font-size: 16px;
    font-weight: 500;
}

.order-author__rate {
    font-size: 14px;
}

.order-status {
    width: 180px;
    height: 40px;
    border-radius: 30px;

    background-color: #62AE81;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* МОДАЛЬНОЕ ОКНО ЗАКАЗОВ */
.modal-order {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.549);


    align-items: center;
    justify-content: center;
    padding: 16px;

}

.modal-open__login {
    cursor: pointer;
    color: white !important;
}

.modal-order.active {
    display: flex;
}

.modal-window {
    position: relative;

    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    z-index: 30;

}

.modal-order__title {
    font-size: 20px;
    font-weight: 500;
}

.modal-order__subtitle {
    font-size: 14px;
    margin-top: 10px;
}

.modal-order__form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #9f9f9f;
}

.modal-order__input {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    border: 1px solid #9f9f9f;
    height: 40px;

    outline: none;
}

.modal-order__textarea {
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.articles {
    margin-top: 90px;
}

.articles .wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0px 16px;
    margin-top: 60px;

}

.add-articles__container {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.add-articles__button {
    width: 250px;
    height: 40px;
    border-radius: 30px;
    background-color: #62AE81;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.article {
    width: 400px;
}

.articles-container {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    gap: 40px 20px;
    min-height: 30vh;
    flex-wrap: wrap;

}

.article-category {
    width: 100%;
    height: 40px;
    background-color: #A3D7B8;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 30px;
    margin-top: 5px;

}

/* ОДНА СТАТЬЯ */

.header.abs {
    position: absolute;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    z-index: 20;
    color: white;
}


.header.abs .header-wrapper {
    margin: 0 auto;
    width: 1600px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleArticle-image {
    position: relative;
    max-width: 1920px;
    height: 950px;
}

.black {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: 500;
    text-align: center;
}

.singleArticle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.singleArticle-content {
    margin: 0 auto;
    max-width: 1600px;
    margin-top: 60px;
    font-size: 24px;
    padding: 0px 16px;
    overflow-wrap: break-word;
}

.singleArticle-__author_date_views {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 40px;
    font-size: 16px;
}

.singleArticle__info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 16px;
}

.singleArticle-btns {
    margin: 0 auto;
    max-width: 1600px;
    margin-top: 60px;

    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.single-button {
    width: 250px;
    height: 40px;
    border-radius: 30px;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Добавить статью */
.addArticle .wrapper {
    margin: 0 auto;
    max-width: 600px;
    padding: 0px 16px;

}

.addArticle2 .wrapper {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 16px;

}

.addOrder .wrapper {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 16px;

}

.addArtcile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addArticle__input {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #9f9f9f;
}

.addArticle__text {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #9f9f9f;
}

.file-attach {
    width: 100%;
    height: 40px;

    border: 1px solid #9f9f9f;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.addArtilce__input {
    display: none;
}

.select-form {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #9f9f9f;

    outline: none;
    padding: 5px;
}


/*Profile  */

.profile .wrapper {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;

}

.profile-header {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.profile-image {
    width: 250px;
    height: 250px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-name__age {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-name {
    font-size: 36px;
    font-weight: 700;
}

.profile-rate-order {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.profile-rate__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rate {
    font-size: 20px;
    font-weight: 600;
}

.change-profile {
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.profile-about {
    margin-top: 60px;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 1px;
    overflow-wrap: break-word;
}

.types-of-works {
    margin-top: 30px;
}

.types-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px 80px;
    margin-top: 20px;
}

.type-main__cat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.type-main {
    font-size: 20px;
    font-weight: 600;
}

.type-sub {
    font-size: 16px;
}

.profile-feedbacks {
    margin-top: 30px;
}

.feedback-header {
    display: flex;
    align-items: center;
}

.stars {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.star {
    font-size: 20px;
}

.fa-star {

    color: #FFE600;
}

.feedbacks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding-top: 30px;
}

.feedback-item {
    position: relative;
    display: flex;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #9f9f9f;
}
.delete-feedback{
    position: absolute;
    right: 20px;
    top: -20px;
    color: red;
}

.feedback-time__rate {

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
    width: 200px
}

.profile-feedback__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* АДМИН ПАНЕЛЬ */
.admin-wrapper {
    margin: 0 auto;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.admin-select-bar {
    display: flex;
    gap: 26px;
}

.select-item {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

.select-item.active {
    border-bottom: 2px solid #62AE81;
}

.admin-search {
    margin-top: 30px;
    justify-self: flex-end;
    align-self: flex-end;
    margin-bottom: 30px;
    padding: 16px;
}

.search-div {
    width: 300px;

    border: 1px solid #9f9f9f;
    border-radius: 30px;
    display: flex;
    align-items: center;

    padding: 0px 10px;
    gap: 5px;
    color: #9f9f9f;
}

.hidden {
    border: none;
    outline: none;
}

.admin-users__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.user-item {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 1px solid #9f9f9f;
    font-size: 14px;
}

.user-image {
    width: 76px;
    height: 76px;
    margin-right: 10px;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-button {
    width: 165px;
    height: 30px;
    border-radius: 30px;
    background-color: #62AE81;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    align-self: flex-end;
    justify-self: end;
    margin-left: auto;

}

.padding-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.padding-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-item.active {
    background-color: #F0F0F0;
}

.admin-orders {
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 40px;

    padding: 16px;
}

.admin-order {

    max-width: 550px;
    width: 100%;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
    padding: 30px 10px;
}

.admin-order__up {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;

    gap: 16px;

    border-bottom: 1px solid #9f9f9f;
}

.admin-order__title-price {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    font-size: 20px;
    font-weight: 600;


}

.admin-order__price {
    min-width: 70px;
}

.admin-order__address {
    font-size: 16px;
}

.admin-order__down {

    display: flex;
    gap: 10px;
    margin-top: 16px;
}

.admin-order__image {
    width: 50px;
    height: 50px;

    overflow: hidden;
}

.admin-order__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
}

.admin-order__name {
    font-size: 16px;
    font-weight: 600;
}

.admin-order__rate {
    margin-top: 5px;
    font-size: 14px;
}

.complaint-image__text {
    display: flex;
    gap: 20px;
}

.complaint-image {
    width: 70px;
    height: 70px;
}

.complaint-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 4px;
}

.complaint-type {
    font-weight: 600;
    font-size: 20px;
}

/* CATALOG */

.catalog-search {
    background-color: #EFEFEF;
    width: 100%;
    padding: 60px 16px 40px 16px;

    position: sticky;
    top: 0;

    z-index: 20;

}

.catalog-search__wrapper {
    margin: 0 auto;
    max-width: 680px;
}

.search-title {
    position: relative;
    width: 100%;
    border-bottom: 2px solid #dddddd;

    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
}

.search-title__text {
    position: absolute;
    bottom: -2px;
    border-bottom: 2px solid #62AE81;
}

.search-field {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;

    display: flex;
    align-items: center;

    gap: 20px;
    padding: 0 20px;

}

.search-field input {
    width: 100%;

    border: none;
    outline: none;
}

.find {
    width: 120px;
    height: 36px;
    border-radius: 4px;
    background-color: #62AE81;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    border: none;
    font-weight: 600;
}

.found {
    margin-top: 10px;
    font-size: 14px;
    color: #9F9F9F;
}

.catalog-items {
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1160px;

    display: flex;
    gap: 60px;

    padding: 0 16px;
}

.catalog-items__wrapper {
    max-width: 1160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog-categories {
    max-width: 300px;
    width: 100%;
}

.catalog-categories__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
}

.categories-field {
    display: flex;
    gap: 15px;
}

.category-checkbox {
    border-radius: 4px;
}

.show {

    margin-top: 40px;
    width: 100%;
    height: 40px;
    background-color: #62AE81;

    border-radius: 4px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.form-check {
    display: flex;

    gap: 15px;
}

.form-executor {
    display: flex;
    gap: 5px;
}

.categories-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    display: none;
    background-color: rgba(0, 0, 0, 0.342);
    z-index: 30;

}

.categories-modal.active {
    display: block;
}

.categories-modal__wrapper {
    padding: 20px;
    position: absolute;
    width: 340px;
    height: 100vh;
    background-color: white;
    right: 0;

    overflow: scroll;
}


.category-modal__button {
    display: none;

    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.category-modal__button .burger {
    font-size: 16px;
}


.registration-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.473);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 40;
    padding: 16px;
}

.registration-modal.active {
    display: flex;
}

.registration-modal__wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;


    background-color: #ACCFB4;

    display: flex;
    flex-direction: row-reverse;

    border-radius: 30px;
    height: 860px;

}

.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.473);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 40;
    padding: 16px;

}

.login-modal.active {
    display: flex;
}

.login-modal__wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;

    background-color: #ACCFB4;

    display: flex;
    flex-direction: row-reverse;

    border-radius: 30px;
}

.h3-login {
    display: block;
    font-size: 24px;
    color: white;
    font-weight: 700;
    text-align: left;


}

.rightSide-image {
    max-width: 500px;
    height: 860px;
    position: relative;

}

.modal-signup__ref {
    max-width: 280px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.rightSide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 30px 30px 0;
}

.login-leftSide {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 360px;
    width: 100%;
    padding: 16px;
}

.login-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    font-size: 14px;
}

.login-field input {



    height: 40px;
    border-radius: 30px;
    border: 1px solid #fff;
    outline: none;
    background: none;
}

.login-field label {
    margin-left: 15px;
}

.required-input {
    margin-top: -5px;
    font-size: 12px;
    color: white;
    margin-left: 15px;
}

.login-button {
    margin-top: 40px;
    background-color: #62AE81;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    border: none;
    height: 40px;

    font-size: 16px;
    font-weight: 600;
}

.modal-logo {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.modal-close {
    position: absolute;
    color: white;
    top: 20px;
    right: 20px;
    z-index: 30;
}

.signup-resize {
    display: none;
}

.file-attach__reg {
    color: white !important;
}

.file-attach__reg {
    border: 1px solid white;
    margin-top: 10px;

}

.danger {
    margin-top: -16px;
    margin-bottom: -18px;
    font-size: 14px;
    margin-left: 15px;
    color: tomato;
}

.loginFromReg, .regFromLogin {
    cursor: pointer;
}

.page-item.active .page-link {
    color: black;
    background-color: #F0F0F0;
    border: none;
}

.page-item .page-link {
    font-size: 16px;
    border: none;
    color: black;
}

.admin-search__form {

    display: flex;
    gap: 10px;
}

.checkboxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.checkbox-field {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.checkbox-field input {
    margin-top: 4px;
}

.catalog-pagination {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
    margin-top: 60px;
}

.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    max-width: 300px;
    width: 100%;
    background-color: tomato;
    color: white;
    font-size: 16px;
    z-index: 40;

    text-align: center;


}

.success {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    max-width: 300px;
    background-color: green;
    color: white;
    font-size: 16px;
    z-index: 40;
    border-radius: 4px;


    text-align: center;
}

.cursor {
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
}

/*body::-webkit-scrollbar-track {*/
/*    background: orange;        !* цвет дорожки *!*/
/*}*/
body::-webkit-scrollbar-thumb {
    background-color: #62AE81; /* цвет плашки */
    border-radius: 0px; /* закругления плашки */
    /*border: 3px solid orange;  !* padding вокруг плашки *!*/
}

.respond-users .wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    align-items: center;
    justify-content: center;

}

.respond-user {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #9f9f9f;
}

.respond-upper {
    display: flex;
    flex-direction: row;
    gap: 20px;

    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 10px;
}

.respond-image {
    width: 60px;
    height: 60px;
}

.respond-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.respond-name {
    font-size: 20px;
}

.respond-btns {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.respond-button {
    height: 36px;
    width: 140px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
}

.accept {
    background-color: #62AE81;
}

.cancel {
    background-color: darkred;
}

.empty {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    min-height: 20vh;

    margin-top:150px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.finished {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}


/*звезды отзыв*/
.simple-rating {
    position: relative;
    font-size: 40px;
    display: inline-block;
}

.simple-rating::before {
    display: block;
    content: '★★★★★';
}

.simple-rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;


}

.simple-rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;

    color: #9f9f9f;
}

.simple-rating__label::before {
    content: '★';
    display: block;
    transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
    color: #ffd300;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
    color: #ffef9f;
}

.form__item {
    display: flex;

    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.close-black {
    color: black;
}

.orderChangeStatus {
    cursor: pointer;
}

.admin-categories__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.main-category h4 {
    margin-bottom: 10px;
}

.main-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 260px;
}

.sub-categories {
    position: relative;
    display: flex;
    gap: 6px;
    width: fit-content;
    cursor: default;
}

.sub-categories .category {
    font-size: 18px;
}
.sub-categories:hover .delete-category{
    width: 15px;
    height: 20px;
    display: block;
}

.delete-category {
    display: none;
    position: absolute;
    top: -8px;
    right: -15px;
    color: red;
}
.addCategory-modal{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.57);

    display: none;
    align-items: center;
    justify-content: center;
    z-index: 30;
    padding: 16px;

}
.modal{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.57);

    display: none;
    align-items: center;
    justify-content: center;
    z-index: 30;
    padding: 16px;
}
.modal.active{
    display: flex;
}
.addCategory-modal.active{
    display: flex;
}
.modal-wrapper{
    position: relative;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
}
.modal-wrapper h3{
    margin-bottom: 30px;
    text-align: center;
}
.modal-wrapper button{
    margin-top: 40px;
    width: 100%;
}
.respond-users{
    min-height: 45vh;
}
.null{
    padding: 50px 0px;
}
.form-check-input:checked[type=checkbox]{
    background-color: #62AE81;
    border-color: #62AE81;
}
.open_modal_comp{
    cursor: pointer;
}
.main-category__arrow{
    position: relative;
    padding-left: 25px;
}
.arrow-angle{
    position: absolute;
    top: 0;
   left: 0;
}
.sub-category__arrow{
    display: none;
}
.sub-category__arrow.active{
    display: block;
}

.main-category__arrow.active .fa-angle-down{
    transform: rotate(180deg);
}
.single-article__title{
    padding:  20px;
    flex-wrap: wrap;
    word-break: break-word;
}



